.click-begin {
    border-radius: 10px;
}

.home-btn {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #243665;
}

.logo {
    margin: 10rem 0;
    height: 40vh;
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}