.assign-row {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    min-width: 400px;
}

.pt-med-list-container {
    display: flex;
    flex: column;
    justify-content: center;
}

.btn-sect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem 0;
}

.patient-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.assign-btn {
    background-color: #FF6B6B;
    border: none;
    width: 10em;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
}

.assign-btn:hover {
    background-color: white;
    color: #FF6B6B;
}

.assign-btn:active {
    color: white;
    background-color: #FF6B6B;
    box-shadow: 0 0.2rem #dfd9d9;
}